.DS_Store
.env.*
*.pem
*.md
public/assets/fonts/TransportNew*.otf
!README.md
!.env.example

package-lock.json
/node_modules
/out/
/build

npm-debug.log*
.pnpm-debug.log*

.vercel
*.tsbuildinfo
/.next/
next-env.d.ts
